.container {
  max-width: 100vw;
  background-color: var(--hero);
  padding-bottom: 50px;
}

.hero {
  max-width: 98%; //98% of the container up
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__Lblock {
    display: flex;
    justify-content: center;
    align-items: center;

    &--contain {
      max-width: 90%; //70% of the Lblock up
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      &-headings {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1 {
          font-family: Jost ExtraBold;
          color: var(--heading);
          font-size: 35px;
          line-height: 105%;
        }
        h5 {
          font-family: Just Another Hand; //it is a spaecial type of hand written font
          font-size: 15px;
          color: var(--gray);
          letter-spacing: 5px;
        }
        p {
          color: var(--gray);
          font-size: 15px;
        }
      }
      button {
        background-color: var(--small);
        color: var(--light);
        font-family: "Jost SemiBold";
        padding: 15px;
        border-radius: 25px;
        max-width: 200px;
        display: inline-flex;
        gap: 10px;
      }
      &-component {
        display: flex;
        flex-direction: row;
        gap: 10%;
      }
    }
    &--review {
      display: flex;
      flex-direction: column;
      gap: 8px;

      p {
        font-family: "Jost Bold";
        font-size: 12px;
      }
      &-image {
        max-width: 60%; // the image is 60% of the HeroComponent
      }
    }
  }

  &__Rblock {
    padding-top: 50px;
    text-align: center;

    img {
      max-width: 70%;
      height: auto;
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 80%; //when the min-width is 768px the max-width of the project should be 80% of the vw
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__Lblock {
      display: flex;
      max-width: 50%; // 50% of the 80% above

      &--contain {
        max-width: 80%; //80% of the Lblock above
        margin-right: 55px;

        @media screen and (max-width: 990px) {
          max-width: 95%; //@990px screen the container should be 95% of the Lblock
          margin-right: 30px; //the margin-right is reduced
        }

        @media screen and (max-width: 879px) {
          max-width: 100%; //@ 879px the container should be same size as the Lblock above
          margin-right: 0; //the margin-right is removed
        }
      }
    }
  }
}
