:root {
--light: #FFFFFF;
--dark: #000000;
  --alert: #FE5265;


  --alpha: #2C3E50;
  --beta: #0A7ED2;
  --gamma: #1D2730;
  --delta: #EDEDED;
  --contrast: #E84188;
  --elements: #C4C4C4;
  --skills: #e1e1e1;
}
